name: C CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            gcc g++ clang \
            pkg-config \
            libgrpc++-dev \
            protobuf-compiler-grpc \
            libsystemd-dev \
            libdbus-1-dev \
            libssl-dev

      - name: Build
        run: make
